<div>
    <h1>Listado de productos</h1>

    {{!-- Otro ejemplo utilizando un loop y una condición.

    users es un array con datos de usuario que recibimos en el objeto pasado con res.render().
    Lo recorremos con #each y accedemos dentro a las propiedades de cada elemento del array. --}}
    <ul class="list-group" >
        {{#each products}}
           
            <li class="list-group-item m-20"> Nombre del producto: {{this.title}}</li>
            <li class="list-group-item"> Id del producto: {{this.id}}</li>
            <li class="list-group-item">Precio del producto :{{this.price}}</li>
            <li class="list-group-item">Descripcion del producto :{{this.description}}</li>
        {{/each}}
    </ul>
</div>
